<header>
    <img src="favicon.ico" alt="A todo list" />
    
    <div routerLink="main">
      <h1>New news test</h1>
      <p>New kind of jorunalism. Each person is responsible to display only the TRUE</p>
    </div>

    @if (authenticatedUser) {}
    @else {

      <div class="btn-group" role="group">

        <button type="button" class="headerUser" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-people"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="./login"><h2>Login</h2></a></li>
          <li><a class="dropdown-item" href="#"><h2>Register</h2></a></li>
        </ul>
      </div>
  }
  </header>
